<h1>Editing Auto</h1>

<%= render 'form', auto: @auto %>

<div class="row small-12 columns">
  <div class="small-12 columns">
    <%= link_to 'Consultar', @auto , class:'small-3 columns button alert left' %>
    <%= link_to 'Volver', autos_path, class:'small-3 columns button secondary left' %>
  </div>
</div>
